# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

In [2]:
ls

2001_Campaign_Contributions.csv*  LICENSE.md*                      README.md
CONTRIBUTING.md*                  nyc_2001_campaign_finance.json*
index.ipynb                       nyc_2001_campaign_finance.xml

### Create an XML tree and retrieve the root tag.

In [3]:
#Your code here
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [7]:
#Answer: 1
count = 0
for child in root.iter():
    count += 1

In [8]:
count

3112

### How many different types of tags are there within the entire XML file?

In [10]:
# Your code here
tags = set()
for child in root.iter():
    tags.add(child.tag)

In [12]:
tags

{'canclass',
 'candid',
 'candname',
 'election',
 'generalpay',
 'officeboro',
 'officecd',
 'officedist',
 'primarypay',
 'response',
 'row',
 'runoffpay',
 'totalpay'}

In [11]:
len(tags)

13

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [16]:
import pandas as pd
from collections import Counter

In [18]:
tag_counts = Counter()

for child in root.iter():
    tag_counts[child.tag] += 1

In [26]:
dict(tag_counts)

{'response': 1,
 'row': 286,
 'candid': 285,
 'candname': 285,
 'officeboro': 21,
 'canclass': 285,
 'election': 284,
 'officecd': 284,
 'officedist': 245,
 'primarypay': 284,
 'generalpay': 284,
 'runoffpay': 284,
 'totalpay': 284}

In [42]:
tag_count_df = pd.DataFrame.from_dict(dict(tag_counts), orient='index', columns=['count'])

In [45]:
tag_count_df.sort_values('count')

            count
response        1
officeboro     21
officedist    245
election      284
officecd      284
primarypay    284
generalpay    284
runoffpay     284
totalpay      284
candid        285
candname      285
canclass      285
row           286

## JSON

### Open the same dataset from json

In [46]:
ls

2001_Campaign_Contributions.csv*  LICENSE.md*                      README.md
CONTRIBUTING.md*                  nyc_2001_campaign_finance.json*
index.ipynb                       nyc_2001_campaign_finance.xml

In [47]:
import json

In [48]:
f = open('nyc_2001_campaign_finance.json')
nyc_json = json.load(f)

### What is the root data type of the json file?

In [50]:
type(nyc_json)

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [52]:
type(nyc_json['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [64]:
nyc_json['data'][0][7]

'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}'

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [61]:
columns = [column['name'] for column in nyc_json['meta']['view']['columns']]

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [65]:
df = pd.DataFrame(nyc_json['data'])

In [66]:
df.columns = columns

### What's wrong with the first row of the DataFrame?

In [67]:
df.head(2)

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00

the meta data is a messy string.

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!